*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: Arial,sans-serif;
}

.instagramContainer{
background-color: black;
}

.insta-Header{
color: white;
display: flex;

}

.carousel-images{

}

.lower_header{
color: white;
display: flex;

}

.center_stage{

}